@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body {
  overflow-x: hidden!important
}


.container2 {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container2 img {
  width: 100%;
  height: auto;
}

.container2 .button-4 {
  position: absolute;
  top: 85%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  border: none;
  cursor: pointer;

  text-align: center;
}

.service-cont{

  background-color: black;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
  padding-left: 11vw;
  padding-right: 11vw;
  padding-bottom: 10vw;

}

.contact-page{
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 10vw;
  padding-top: 10vw;
}
.button-service-cont{
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
  padding-left: 4vw;
  padding-right: 4vw;
  margin-top:-10vw;

  position:relative;
  margin-bottom:0px;
  height: 10vw;
}
.second-buttons{
  padding-top: 6vw;
  z-index: 9;
}

/* ....------------------------------------------------  Animations ----------------------------------------------------------------------- ...*/


.animate-on-load {
  animation: 2s fade-up-enter;
}
.animate-on-load-2 {
  animation: 3s fade-up-enter;
}
.animate-on-load-3 {
  animation: 4s fade-up-enter;
}
.animate-on-load-4 {
  animation: 2s fade-up-enter;
}
@keyframes fade-up-enter {
  0% {
    opacity: 0;
    transform: translateY(20px)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}
/* ....------------------------------------------------  Cards ----------------------------------------------------------------------- ...*/

.card-body{
  background-color: black;
  padding: 0 !important;
  padding-top: 10px !important;
  border: none;
}

.card{
  border: none;
  border-radius: 0px;
  border-top: 0 !important;
}
.card-title{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 300;
  padding-top: 5px;
}

.card-text{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: ;
  font-weight: 200;
}

.text-muted{
  COLOR: GREY;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 400;
  border-radius: 0px;
  transition: 0.3s;
}
.text-muted:hover{
  text-decoration: none !important;;
  font-weight: 900;
}
.card-footer{
  background-color: black;
  padding: 0 !important;
  padding-top: 10px !important;
  border-radius: 0px !important;;
}

.about-us-description{
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 400;
  padding-left: 20px;
  margin-top: -8px;
  position: absolute;

}

.about-us-description-2{
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 200;
  padding-left: 20px;
  padding-top: 20px;


}
/* ....------------------------------------------------  Mobile Nav ----------------------------------------------------------------------- ...*/
body {
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
}

.sidenav a:hover {
  color: grey;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: opacity: .1; .5s;


}
.cursor-ham{
  float: right;
  margin-left: 85%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* ....------------------------------------------------  number animation ----------------------------------------------------------------------- ...*/

#nbr{

}

/* ....------------------------------------------------  Form ----------------------------------------------------------------------- ...*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:black;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  font-size: 12px;
  border-radius: 5px;
  line-height: 22px;
  background-color: #e6e6e6;
  border:1px solid grey;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  border: none;
  outline:0;
}

.feedback-input:focus {
  background-color: #d0d0d0;
}
.contact-map{
  width: 100%;
}
.map{
  margin-left: auto;
  margin-right: auto;

}
textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }


* {
  box-sizing: border-box;
}


.row3 {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column3 {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.column3 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column3 {
    -ms-flex: 33%;
    flex: 33%;
    max-width: 33%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

}
.row2 {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column2 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column2 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column2 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
/* ....------------------------------------------------  Image ----------------------------------------------------------------------- ...*/

.careers-imgs{
  width: 33%;
  padding: 10px;
}
.gallery-services-img{
  height: 50%;
}
.side-gallery-img{
  width: 100%;
}
.side-gallery-img-mobile{
  width: 100%;
  margin-top: 15px;
}
.icon-img{
  width: 30px;
  opacity: .5;
}
.icon-img-2{
  width:  20px;
  margin-bottom: 8px;
  opacity: .5;
}
.quote-img{
  width: 50px;
}
.recent-clients{
  width:100%;
}
.avatar{
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;

}
.margin-top-avatar{
  margin-top: 0px;
}
.gallery-img{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.footer-img-2{
  width: 100%;
}
.footer-img{
  width: 10vw;
  padding-bottom: 3vw;
}
.nav-logo{
  width: 30px;
  float: left;
  margin-left: 6vw;
}
.nav-logo-mobile{
  width: 30px;
  float: left;
  margin-left: 4vw;
  margin-top: -30px;
}
.fonts{
  float: right;
  margin-right: -23vw;
}
.text-left{
  margin-left: 2vw;
}
.fonts-sm{
  margin-right: 2vw;
}
/* ....------------------------------------------------Image Grid ----------------------------------------------------------------------- ...*/
.main-services{
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 4vw;
  padding-top: 4vw;
}

.middle-containter-services{
  background-color: #f7f7f7;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 4vw;
  padding-top: 4vw;
}
.other-services-container{
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 10vw;
  padding-top: 8vw;
  background-color: #f7f7f7;
}

.gallery-services-container{
  padding: 10px;
  padding-right: 20px;
}
.gallery-right-services-container{

}
.container-gallery{
  padding-left: 10vw;
  padding-right: 10vw;
}

.container-meettheteam{
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 8vw;
  padding-top: 8vw;
}
/* ....------------------------------------------------ Animations ----------------------------------------------------------------------- ...*/



/* ....------------------------------------------------ Hero image ----------------------------------------------------------------------- ...*/

.img-fluid{
  width: 100%;
  max-height: 500px;
  padding: 20px;

}

body, html {
    height: 100%;
}
.navbar-toggler-icon{
  color:white !important;
  background-color: transparent;
  border: none !important;
}
/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read https://raw.githubusercontent.com/harmano/ethiussecurity/master/img/headerimg.png https://wallpapercrafter.com/desktop/222955-city-toronto-cityscape-and-skyscraper-hd.jpg */
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://wallpapercrafter.com/desktop/222955-city-toronto-cityscape-and-skyscraper-hd.jpg");

  /* Set a specific height */
  height: 55%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.cta-background {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://raw.githubusercontent.com/harmano/ethiussecurity/master/img/cta-img-3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding-top: 10vw;
  z-index: 8;
}


.background-image-otherservices{
  background-color: green;
  padding-top: 10vw;
  padding-bottom: 6vw;
  padding-left: 12vw !important;
  padding-right: 12vw !important;
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("https://www.salomon.com/sites/default/files/styles/crop_image_large_standard_1920x600_/public/carousel-product/background/2018-09/background-slider_6.jpg?itok=wB5_U4iy");

  /* Set a specific height */

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.background-video-about{
  background-color: #f7f7f7;

}
.video-templ{
  width: 100%;
}
.background-video-about-pading{
  padding-left: 12vw !important;
  padding-right: 12vw  !important;
  margin-top:5vw !important;

}
.margin-right1{
  margin-right: 2px;
}
/* ....------------------------------------------------ Nav ----------------------------------------------------------------------- ...*/

.bg-light {
    background-color: #ffffff00!important;
}


/* ....------------------------------------------------ Button ----------------------------------------------------------------------- ...*/
.careers-hover:hover {
text-decoration: none;
font-weight: 400;
color: black;
}
.boxshadow {
  -webkit-box-shadow: 0px 0px 46px -13px rgba(0,0,0,0.21);
  -moz-box-shadow: 0px 0px 46px -13px rgba(0,0,0,0.21);
  box-shadow: 0px 0px 46px -13px rgba(0,0,0,0.21);
}
.margin-left-button{
  margin-left: -8vw;
  margin-top: 10vw;
  text-align: center;
}
.button-services-2 {
  background-color: black;
  color: White;
  border: 2px solid #e7e7e7;
  border-radius: 100px;
  padding: 8px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 8px;

}
.button-services-2:hover {
  background-color: #e7e7e7 ;
  color: black;
}
.button-1:hover {
  background-color: #e7e7e7;
  color: black;
}

.button-1 {
  background-color: transparent;
  color: White;
  border: 2px solid #e7e7e7;
  border-radius: 100px;
  padding: 8px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 8px;

}

.button-2 {
  background-color: black;
  color: White;
  border: 2px solid #e7e7e7;
  border-radius: 100px;
  padding: 8px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 8px;

}
.button-2:hover {
  background-color: #e7e7e7 ;
  color: black;
}

.button-3 {
  background-color: black;
  color: White;
  border: 2px solid #e7e7e7;
  border-radius: 100px;
  padding: 8px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 14px;

}
.button-5:hover {
  background-color: #e7e7e7 ;
  color: black;
}

.button-5 {
  background-color: black;
  color: White;
  border: 2px solid #e7e7e7;
  border-radius: 100px;
  padding: 8px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 14px;
  width: 100%;

}
.button-6:hover {
  background-color: #e7e7e7 ;
  color: black;
  border: 2px solid #e7e7e7 !important;
}

.button-6 {
  background-color: black;
  color: White;
  border: 2px solid black !important;
  border-radius: 100px;
  padding: 8px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 9px;
  width: 50%;

}
.button-3:hover {
  background-color: #e7e7e7 ;
  color: black;
}

.button-4:hover {
  background-color: grey;
  color: white;
}

.button-4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 100px;
  padding: 8px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 8px;

}
/* ....------------------------------------------------ Footer ----------------------------------------------------------------------- ...*/
.fifth-box{
  padding-top: 20px;
  background-color: black;
}


.footer-container{
  padding-left:15%;
  padding-top: 30px;

}

.logo-contacct{
  width: 250px;
}

.logo-footer{
  width: 30%;

  font-size: 18px;
  padding: 20px;
}
.margin-top-footer{
  margin-top: -100px;
}
.margin-top-services{
  margin-top: 14px;
}
/* ....------------------------------------------------ Lines ----------------------------------------------------------------------- ...*/

.short-line{
  margin-bottom: 5%;
  width: 40%;
  color: black;
  border-top: 1px solid white;
}

.short-line-2{
  margin-bottom: 0;
  margin-top: 0px;
  width: 95%;
  color: white;
  border-top: 1px solid white;
  opacity: .2;
}
.short-line-3{
  margin-bottom: 5%;
  width: 10vw;
  color: grey;
  border-top: 2px solid black;
  border-radius: 50px;

}
.short-line-4{
  margin-bottom: ;
  width: 100%;
  color: grey;
  border-top: 3px solid grey;
  opacity: .4;
  border-radius: 50px;
  margin-left: 0px;
  margin-top: 9px;

}
.short-line-5{
  width: 50px;
  color: grey;
  border-top: 2px solid black;
  border-radius: 50px;
  text-align: left;
  float: left;

}
.short-line-5-2{
  width: 50px;
  color: grey;
  border-top: 2px solid black;
  border-radius: 50px;
  text-align: right;
  float: right;

}
.short-line-white{
  margin-bottom: 3vw;
  width: 5vw;
  color: white;
  border-top: 3px solid white;
  border-radius: 50px;

}
.short-line-white-services{
  margin-bottom: 20px;
  width: 5vw;
  color: white;
  border-top: 3px solid white;
  border-radius: 50px;

}

.full-width-hr{
  color: black;
  margin-top: 7vw;
  margin-bottom: 7vw;
}



.img-hover-zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */

}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}

.br-margin{
  margin-top:10px;
}
/* ....------------------------------------------------ Text ----------------------------------------------------------------------- ...*/
.difference-parag{
  background-color: #f7f7f7;
  padding-top: 20vw;
  padding-bottom: 20vw;
  padding-right: 10vw;
  padding-left: 10vw;

}


.ctacontainer{
  background-color: #f7f7f7;
  padding-top: 8vw;
  padding-bottom: 8vw !important;
  padding-right: 0vw;
  padding-left: 0vw;
}

.about-quote{
  margin-top: 5vw;
  margin-left: 50px;
  margin-right: 50px;
  color:black;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 0px;
  font-weight: 300;
}

.about-name-h{
  color:black;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 0px;
  font-weight: 300;
  margin-bottom: 2px;
  text-align: center;
}
.other-services-h1{
  color: black ;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 40px;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 500;
}
.other-services-h{
  color: #d4b857;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  letter-spacing: 0px;
  font-weight: 400;
  margin-bottom: 2px;
  text-align: center;
}
.other-services-p{
  color:grey;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  letter-spacing: 0px;
  font-weight: 300;
  margin-bottom: 2px;
  text-align: center;
}
.about-name-p{
  color:grey;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  letter-spacing: 0px;
  font-weight: 300;
  margin-bottom: 2px;
  text-align: center;
}
.about-text-p{
  color:black;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  letter-spacing: 0px;
  font-weight: 300;
  margin-bottom: 2px;
  text-align: center;
}
.main-services-p-2{
  color:black;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  letter-spacing: 0px;
  font-weight: 300;
  text-align: left;
  padding-left: 2px;
}
.main-services-p-right{

  margin-top: -30px;
  color:black;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  letter-spacing: 0px;
  font-weight: 300;
  margin-bottom: 8px;
  text-align: right;
  padding-left: 0px;
}
.main-services-p{

  margin-top: -30px;
  color:black;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  letter-spacing: 0px;
  font-weight: 300;
  margin-bottom: 8px;
  text-align: left;
  padding-right: 0px;
}
.about-text-p-2{
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  letter-spacing: 0px;
  font-weight: 300;
  margin-bottom: 2px;
  text-align: center;
}
.text-p{
  color:black;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  letter-spacing: 0px;
  font-weight: 300;
}
.text-p-sm{
  font-size: 9px;
}
.contact-text-p{
  color:black;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  letter-spacing: 0px;
  font-weight: 300;
  margin-bottom: 2px;
  text-align: left;
}

.contact-text-p-2{
  vertical-align: center;
}

.about-quote-p{
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  color:black;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  letter-spacing: 0px;
  font-weight: 300;
}

.new-h1-text{
  color:white;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 300;
}
.difference-h{
  color:black;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 40px;
}
.difference-h-2{
  color:black;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}
.difference-h-3{
  color:black;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0px;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0px;
}
.difference-h-4{
  color:black;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}

.about-text-h{
  color:white;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2px;
  font-size: 8vw;
  letter-spacing: 3px;
  font-weight: 100;
}

.about-text-P{
  color:white;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
  font-size: 10px;
  letter-spacing: 3px;
  font-weight: 400;
}
.text-des-under{
  color:black;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: 300;

}
.contact-p{
  color:grey;
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 400;
}
.contact-p-2{
  color:grey;
  font-family: 'Roboto', sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 400;
}
.new-h1-text-dark{
  color:black;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 300;
}
.nav-text{
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: white;
  letter-spacing: 2px;
  font-weight: 100;
  padding-right: 2vw;
  padding-left: 2vw;


}

.arrow-2{
  position: absolute !important;
   bottom: 0 !important;
   right: 0 !important;
   z-index: 9;
   color: white;
   margin-left: 50%;
   margin-right: 49%;
   margin-bottom: 10px;
}
.margin-top-nav{
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-tite-2{
  font-size:7vw !important;
  color:white !important;
  font-weight:900 !important;
  margin-top: -10px;
}
.nav-text:hover{
  text-decoration: none;
  color: white !important;
  font-weight: 500;
  opacity: .8;
}
.navbar-light .navbar-nav .nav-link {
    color: grey;
    transition-duration: 0.4s;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: darkgrey;
    font-family: 'Roboto', sans-serif;
}

.footer-text{
  padding-bottom: 100px;
    opacity: .8;
    color: white;

}

.footer-p p{
  color:white;
  font-family: 'Roboto', sans-serif;
  opacity: .8;
  margin-bottom: 2px;
  transition-duration: 0.4s;
  text-decoration: none!important;
  text-decoration-color: black ;
}

.footer-p p:hover{
  color:grey;
  text-decoration: none!important;
}
.footer-title{
  color:white;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;

}
.footer-title-2{
  color:white;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 50vw;

}

.h1-text{

  font-size: 11vw;

}

.h5-text{
  font-family: 'Roboto', sans-serif;
  position: inline;
  font-size: 10vw;
  font-weight: 900;
  margin-bottom: 20px;
  letter-spacing: -1px;
  color: #d4b857;
}

.h3-text{
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 20px;
  color: grey;
  letter-spacing: 3px;
}
.h4-text{
  font-size: 12px;
  font-weight: 100;
  color: grey;
  letter-spacing: 3px;
}
.h-category-text{

  font-size: 12px;
}
.down-arrow{
  font-size: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.p1-text{
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 20px;
  color: grey;
  letter-spacing: 3px;
}

.sofound-text{
  font-family: 'Roboto', sans-serif;
  color: grey;
  font-size: 12px;
}
.sofound-text-2{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 300;
  transition-duration: 0.4s;
}
.sofound-text-2:Hover{
  font-family: 'Roboto', sans-serif;
  color: grey;
  font-weight: 300;
  text-decoration: none;
}

.footer-margin-mobile-top{
  margin-top: 40px;
}
.p-info-text{
  font-family: 'Roboto', sans-serif;
  color: grey;
  font-weight: 200;
  margin-bottom: -5px;
  letter-spacing: 3px;
  font-size: 10px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 40px;
    height: 40px;

}
.carousel-control-next-icon {
    background-image: url('https://www.svgrepo.com/show/49833/right-arrow.svg');
    color: white;
    margin-top: 10%;
    margin-bottom: 80%;
}

.carousel-control-next{

}
.text-center-mobile{
  text-align: center;
}
.card-hover{

   border-bottom: 4px solid white;
   transition-duration: 0.4s;


}
.other-serviceshover:hover{
  text-decoration: none;
}
.card-footer{
  border: none;
}
.card-text-2{
  color:black;
  font-size: 12px;
}
.card-padding{
  padding: 12px 25px;
  background-color:white !important;

}
.card-body-2{
  background-color:white !important;
}
.card-body-3{
  background-color:white !important;
}
.card-hover:hover{
   border-bottom: 4px solid black;

}

.card-titl-2{
  color:black !important;
  font-weight: 300;
  font-size: 14px;
}
/* ....------------------------------------------------ fonts ----------------------------------------------------------------------- ...*/

.font-social {
  color: white;
  padding: 0px;
  border-radius: 0px;
  transition-duration: 0.4s;
  vertical-align: center;
  opacity: .5;

}
.font-social:hover{
  color: black;
  opacity: .5;

}
.font-awesome{
  padding-bottom: 20px;
}

.fonts-2{
  padding-right: 20px;
  vertical-align: center;
  margin-top: 20px;
  font-size: 13px;
}
.fonts-3{
  padding-right: 10px;
  vertical-align: center;
  margin-top: 0px;
  font-size: 13px;
}
/* ....------------------------------------------------ Margin  ----------------------------------------------------------------------- ...*/
.main-services-margin{
  margin-top: 20px;
}
.margin-top-services-other{
  margin-top: 50px;
}
.margin-top{
  margin-top: 8vw;
}
.margin-top-2{
  margin-top: 20px;
}
.margin-top-3{
  margin-top: 60px;
}
.margin-top-4{
  margin-top: 30px;
}
.background-video-about-padding{
  padding-bottom: 30px;
  padding-top: 30px;
}
/* ....------------------------------------------------ Text Align  ----------------------------------------------------------------------- ...*/

.text-center-4{
  text-align: center;
}
.text-right-2{
  text-align: center;
}
/* ....------------------------------------------------ Media  ----------------------------------------------------------------------- ...*/


@media screen and (min-width: 769px) {
  .nav-logo-mobile{
    display: none;
  }
  .button-services-2 {
    background-color: black;
    color: White;
    border: 2px solid #e7e7e7;
    border-radius: 100px;
    padding: 8px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 14px;

  }
  .button-services-2:hover {
    background-color: #e7e7e7 ;
    color: black;
  }
  .main-services-p-right{

    margin-top: -30px;
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
    text-align: right;
    letter-spacing: 0px;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: right;
    padding-left: 70px;
  }
  .main-services-p{

    margin-top: -30px;
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
    text-align: left;
    letter-spacing: 0px;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: left;
    padding-right: 70px;
  }
  .icon-img{
    width:  5vw;
    margin-bottom: 20px;
  }
  .icon-img-2{
    width:  3vw;
    margin-bottom: 35px;
  }
  .fifth-box{
    padding-top: 100px;
  }
  .text-center-mobile{
    text-align: left;
  }
  .h5-text{
    font-size: 100px;
  }
  .hero-image {
    height: 80%;
    margin-top: -10px;

  }
  .p-info-text{

    font-size: 20px;
  }
  .contact-map{
    width: 300px;
  }
  .footer-margin-mobile-top{
    margin-top: 0px;
  }
  .footer-tite-2{
    font-size:4vw !important;

  }
  .footer-container{
    padding-left:10%;
    padding-top: 30px;

  }
  .footer-tite-2{
    margin-top: -15px;
  }
  .margin-top-footer{
    margin-top: -50px;
  }
  .margin-top-services{
    margin-top: 0px;
  }
  .second-buttons{
    padding-top: 2vw;
  }
  .h1-text{
    font-family: 'Roboto', sans-serif;
    position: inline;
    font-size: 8vw;
    font-weight: 900;
    margin-bottom: 20px;
    letter-spacing: -1px;
  }
  .service-cont{

    padding-left: 6vw;
    padding-right: 6vw;


  }
  .background-image-otherservices{
    padding-left: 6vw !important;
    padding-right: 6vw !important;
    padding-top: 6vw !important;
  }
  .margin-left-button{
    text-align: left;
    margin-left: 0%;
    margin-top: 0vw;
  }
  .short-line-3{
    margin-bottom: 5%;
    width: 5vw;
    color: grey;
    border-top: 2px solid black;
    border-radius: 50px;

  }
  .map{
        margin: 50px auto;
        padding-left: 100px;
  }
  .about-text-P{
    color:white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 400;
  }
  .avatar{
    vertical-align: middle;
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    margin-top:-20px;
  }
  .margin-top-avatar{
    margin-top: 120px;
  }
  .margin-top-2{
    margin-top: 0px;
  }
  .button-6 {
    background-color: black;
    color: White;
    border: 2px solid #e7e7e7;
    border-radius: 100px;
    padding: 8px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 14px;
    width: 40%;

  }
  .about-name-h{

    text-align: left;
  }
  .about-name-p{
    text-align: left;
  }
  .about-text-p{
    text-align: left;
  }
  .margin-top-3{
    margin-top: 0px;
  }
  .text-center-4{
    text-align: left;
  }
  .text-right-2{
    text-align: right;
  }
  .about-quote{
    font-size: 2vw;
  }
  .about-quote-p{
    font-size: 1.5vw;
  }
  .quote-img{
    width: 5vw;
  }
  .background-video-about-padding{
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .difference-parag{

    padding-top: 10vw;
    padding-bottom: 10vw;
  }
  .ctacontainer{
    background-color: #f7f7f7;
    padding-top: 5vw;
    padding-bottom: 5vw !important;
    padding-right: 10vw;
    padding-left: 10vw;
  }
  .difference-h-4{
    font-size: 40px;
  }
  .text-p-sm{
    font-size: 15px;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon {
      width: 40px;
      height: 40px;

  }
  .carousel-control-next-icon {
      background-image: url('https://www.svgrepo.com/show/49833/right-arrow.svg');
      color: white;
      margin-top: 40%;
      margin-bottom: 60%;
  }
  .other-services-h1{

    margin-bottom: 70px;
    font-size: 50px;
  }
  .other-services-h{

    font-size: 20px;

  }
  .main-services-margin{
    margin-top: 80px;
  }

}

@media screen and (min-width: 1200px) {
  .service-cont{

    padding-left: 12vw;
    padding-right: 12vw;


  }
  .background-image-otherservices{
    padding-left: 13vw !important;
    padding-right: 13vw !important;
    padding-top: 6vw !important;
  }
  .card-hover{

  }
  .short-line-3{
    margin-bottom: 5%;
    width: 5vw;
    color: grey;
    border-top: 2px solid black;
    border-radius: 50px;

  }
  .margin-left-button{
    text-align: left;
    margin-left: 0%;
    margin-top: 0vw;
  }
  .contact-page{
    padding-left: 11vw;
    padding-right: 11vw;
    padding-bottom: 10vw;
    padding-top: 10vw;
  }
  .margin-top-avatar{
    margin-top: 120px;
  }
  .about-name-p{
    text-align: left;
  }
  .about-text-p{
    text-align: left;
  }
  .margin-top-3{
    margin-top: 0px;
  }
  .text-right-2{
    text-align: right;
  }
  .about-quote{
    font-size: 2vw;
  }
  .about-quote-p{
    font-size: 1.5vw;
  }
  .quote-img{
    width: 5vw;
  }
  .background-video-about-padding{
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .difference-parag{

    padding-top: 10vw;
    padding-bottom: 10vw;


}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .text-center-mobile{
    text-align: left;
  }
  .contact-map{
    width: 300px;
  }
  .contact-page{
    padding-left: 11vw;
    padding-right: 11vw;
    padding-bottom: 10vw;
    padding-top: 10vw;
  }
  .short-line-3{
    margin-bottom: 5%;
    width: 5vw;
    color: grey;
    border-top: 2px solid black;
    border-radius: 50px;

  }
  .about-text-P{
    color:white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 400;
  }
  .map{
        margin: 50px auto;
        padding-left: 100px;
  }
  .margin-left-button{
    text-align: left;
    margin-left: 0%;
    margin-top: 0vw;
  }
  .avatar{
    vertical-align: middle;
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    margin-top:-10px;
  }
  .margin-top-avatar{
    margin-top: 120px;
  }
  .button-6 {
    background-color: black;
    color: White;
    border: 2px solid #e7e7e7;
    border-radius: 100px;
    padding: 8px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 14px;
    width: 40%;

  }
  .about-name-h{
    text-align: left;
  }
  .about-name-p{
    text-align: left;
  }
  .about-text-p{
    text-align: left;
  }
  .margin-top-3{
    margin-top: 0px;
  }
  .text-center-4{
    text-align: left;
  }
  .text-right-2{
    text-align: right;
  }
  .about-quote{
    font-size: 2vw;
  }
  .about-quote-p{
    font-size: 1.5vw;
  }
  .quote-img{
    width: 5vw;
  }
  .background-video-about-padding{
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .difference-parag{

    padding-top: 10vw;
    padding-bottom: 10vw;


}
